/* Variables */
:root {
  --gray-1: #f8f9fa;
  --gray-2: #e9ecef;
  --gray-3: #dee2e6;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;
  --gray-6: #6c757d;
  --gray-7: #495057;
  --gray-8: #343a40;
  --gray-9: #212529;

  --white-1: #eeeeee;

  --blue-1: #1b6ded;
  --blue-2: #1059ca;
  --blue-3: #0d47a1;
}

@font-face {
  font-family: Geliat;
  src: url("../fonts/GeliatExtralight.otf") format("opentype");
}

@font-face {
  font-family: Swansea;
  src: url("../fonts/Swansea.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  font-family: Swansea, Verdana, Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  color: var(--gray-9);
}

.main-header {
  height: 64px;
  background-color: var(--gray-2);
}

.title {
  position: relative;
  height: 100%;
  padding: 10px;
  margin: 0;
  line-height: 64px;
  font-family: Geliat, Verdana, Arial, Helvetica, sans-serif;
}

.content {
  height: calc(100% - 64px); /* 64px = header size */
  width: 100%;
  background-color: var(--gray-3);
  overflow-y: auto;
  box-shadow: inset 0px 2px 12px 0px rgb(0 0 0 / 50%);
  --webkit-box-shadow: inset 0px 2px 12px 0px rgb(0 0 0 / 50%);
}

section {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 24px;
}

section > h1 {
  display: inline-block;
  width: auto;
  margin-top: 0;
  padding: 0 24px 8px 24px;
  border-bottom: 1px solid var(--gray-7);
}

section > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 4px;
}

section > ul > li {
  padding: 8px;
}

.link-button {
  display: inline-block;
  background-color: var(--blue-1);
  border-radius: 4px;
  color: var(--gray-3);
  padding: 8px;
  text-decoration: none;
}

.link-button:hover {
  background-color: var(--blue-2);
}

.link-button:active {
  background-color: var(--blue-3);
}

.email-link {
  color: var(--blue-1);
}

.resume-button {
  margin-top: 8px;
  margin-left: 8px;
}

@media (min-width: 320px) {
  .title {
    font-size: 24px;
  }

  .content {
    padding: 16px 24px 64px 0;
  }
}

/* tablet, landscape iPad, lo-res laptops and desktops (https://stackoverflow.com/a/7354648/2280887) */
@media (min-width: 961px) {
  .content {
    padding: 16px 24px 48px 24px;
  }

  .title {
    font-size: 32px;
    padding: 10px 36px;
  }
}
