/** Utility stuff */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #0A090C;
  font-family: "Raleway"; }

a,
a:visited,
a:hover,
a:active {
  color: #5299D3;
  text-decoration: underline; }

.row-nowrap,
.row-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.row-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.row-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.row-center-h {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.row-center-v {
  -ms-flex-line-pack: center;
      align-content: center; }

.column-nowrap,
.column-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.column-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.column-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.column-center-h {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.column-center-v {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.white {
  background-color: #FBF9FF; }

.shadow-1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.shadow-2 {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.shadow-3 {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.shadow-4 {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.shadow-5 {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/** Mobile and everything else. */
.ta-com-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  overflow-y: auto;
  width: 100%;
  padding-top: 100px;
  /* accomodates header */
  background-color: #FBF9FF; }

.ta-com-section {
  padding-bottom: 32px;
  width: 100%; }

.ta-com-section-header {
  margin: 0;
  padding-top: 24px;
  padding-bottom: 8px;
  font-size: 28px;
  text-align: center; }

.ta-com-section-title-line {
  height: 1px;
  width: 50%;
  max-width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  background-color: #9D9D9D; }

/* banner */
.ta-com-banner {
  display: none;
  visibility: hidden; }

.headhesive {
  display: none;
  visibility: hidden; }

/* banner - mobile */
.ta-com-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.ta-com-menu-text {
  display: block;
  padding-left: 32px;
  font-size: 24px; }

.ta-com-menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-right: 32px; }

/** Needs to float over pop-out menu
 *  Hierarchy:
 *
 *  - banner root 0
 *    - hamburger overlay 1
 *      - hamburger pop-out menu 2
 *        - row containing site name and hamburger menu 3
 */
.ta-com-menu-bg {
  width: 100%;
  z-index: 3; }

.ta-com-inner-menu {
  position: absolute;
  top: calc(100% + 4px);
  right: 4px;
  z-index: 2;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .ta-com-inner-menu.closed {
    display: none; }
  .ta-com-inner-menu.opened {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .ta-com-inner-menu span {
    padding: 4px 32px;
    background-color: #FBF9FF; }
  .ta-com-inner-menu a {
    text-decoration: none;
    color: #0A090C; }

/** Overlay enabled when hamburger menu is expanded. Catches clicks to close menu. */
.ta-com-inner-menu-click-net {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  right: 0;
  height: 100vh; }
  .ta-com-inner-menu-click-net.net-disabled {
    display: none;
    visibility: hidden; }

/* portfolio */
.portfolio-drawer {
  position: relative;
  width: 100%;
  height: 200px;
  overflow-y: hidden;
  background-color: #CECCCC;
  border-bottom: 0.5px solid #ABABAB; }
  .portfolio-drawer .portfolio-inside {
    height: 100%;
    overflow-y: hidden; }
  .portfolio-drawer.opened .portfolio-inside {
    overflow-y: auto; }
  .portfolio-drawer.opened .portfolio-drawer-button-icon {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg); }
  .portfolio-drawer.opened .portfolio-drawer-cover {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }

.portfolio-drawer-button {
  height: 100%;
  width: 64px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  border-bottom: 0.5px solid #ABABAB;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #CECCCC;
  cursor: pointer; }

.portfolio-drawer-button-icon {
  width: 64px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.portfolio-drawer-cover {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #CECCCC;
  border-bottom: 0.5px solid #ABABAB;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.portfolio-icon {
  width: 100%;
  max-width: 100px; }

.portfolio-link,
.portfolio-link:visited,
.portfolio-link:hover,
.portfolio-link:active {
  padding: 4px 16px;
  color: #0A090C;
  text-decoration: underline; }

/* resume */
.ta-com-resume {
  background-color: #FBF9FF; }

.resume-section-header {
  margin: 0;
  margin-top: 16px;
  padding-left: 32px;
  font-size: 20px;
  text-decoration: underline;
  -webkit-text-decoration-color: #9D9D9D;
          text-decoration-color: #9D9D9D; }

.resume-content {
  margin: 0;
  padding: 8px 32px; }
  .resume-content li {
    padding: 4px 0; }

.resume-download-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 120px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 24px;
  background-color: #5299D3;
  color: #FBF9FF;
  border-radius: 4px;
  border: 0;
  text-decoration: none; }
  .resume-download-button span {
    display: block;
    color: #FBF9FF;
    text-decoration: none; }
  .resume-download-button:hover {
    background-color: #276BA2; }
  .resume-download-button:active {
    background-color: #0B4371; }

/* contact */
.ta-com-contact {
  background-color: #A4BACC; }
  .ta-com-contact .ta-com-section-title-line {
    background-color: #0A090C; }

.contact-info {
  margin: 0;
  padding: 16px 16px 0 16px;
  -ms-flex-item-align: center;
      align-self: center; }

.contact-icon-row {
  margin-top: 16px;
  padding: 0 32px;
  cursor: pointer; }

.contact-icon {
  padding: 16px 8px;
  max-width: 80px; }

/* footer */
.ta-com-footer {
  height: 80px;
  background-color: #CECCCC; }

/** Landscape phones and up. */ 
@media (min-width: 576px) {
  .mobile {
    display: none;
    visibility: hidden; }

  .ta-com-container {
    padding-top: 240px; }

  .ta-com-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    position: absolute;
    visibility: visible;
    top: 0;
    left: 0;
    width: 100%;
    height: 240px;
    padding-top: 32px; }

  .banner-text {
    text-align: center;
    font-size: 48px; }

  .banner-subtext {
    text-align: center;
    font-size: 24px; }

  .banner-nav-bar {
    justify-content: space-between;
    margin-top: auto;
    height: 80px; }

  .nav-button-container {
    height: 100%;
    width: calc(100% / 3);
    border: 1px solid #CECCCC;
    text-decoration: none !important;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer; }
    .nav-button-container:hover {
      -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
              box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

  .nav-button {
    display: block;
    color: #0A090C;
    text-decoration: none !important;
    text-align: center; }

  .headhesive {
    display: none;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FBF9FF;
    z-index: 10; }

  .headhesive--stick,
  .headhesive--unstick {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }

  .headhesive--unstick {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }

  .headhesive--stick {
    -webkit-transform: translateY(0);
            transform: translateY(0); }

  .portfolio-drawer {
    height: 320px; }

  .portfolio-link {
    font-size: 24px; }

  .ta-com-resume {
    width: 50%;
    margin-left: auto;
    margin-right: auto; } }

/*# sourceMappingURL=tonyanziano.com.css.map */

/*# sourceMappingURL=tonyanziano.com.css.map */
